.card-primary{
    display: flex;
    justify-content: center;
    flex-direction: row ;
    align-items: center;
}

.customCard{
    text-decoration: line-through;
    text-decoration-color: black;
    margin-top: 4vh;
    height: auto;
    min-width: 48vh;
    max-width: 100vh;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    font-size: large;
}
.customCard-1{
    margin-top: 4vh;
    height: auto;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    font-size: large;
    min-width: 48vh;
    max-width: 100vh;
}
.groupButton{
  justify-content: center;
  display: flex;

}
.ant-check{
  width: 25px;
  height: 30px;
  justify-content: start;
  background-color: green;
}
.check-button{
    width: 25px;
    height: 25px;

}
.buttons{
    margin-right: 4vh;
}



