.container {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.category {
  border-radius: 50%;
  height: 170px;
  width: 170px;
  margin: 3px;
}
