label{
    margin-right: 5px;
    font-weight: bold;
}

.input{
    width: 38vh;
    justify-content: center;
    display: block;
    margin-left: auto;
    margin-right: auto;

}



.button{
   margin: 2vh;
}