label{
    margin-right: 5px;
    font-weight: bold;
}

.input{
    width: 55vh;
    justify-content: center;
    /* display: block; */
    margin-left: auto;
    margin-right: auto;
    height: 7vh;

}

/* .input:focus{
    width: 50vh;
    height: 8vh;
} */
.input::placeholder{
    color: black;
    opacity: 1;
    height: 6vh;
}

.button{
   margin: 2vh;
   
}