
.App {
  text-align: center;
  background-color: gray;
  box-sizing: border-box;
  
}
.toDoWraper{
 height:auto;
 background-color: gray;
 position: relative;
 /* display: flex;
 justify-content: center;
 flex-direction: column; */

 }
